.env
.DS_Store
__pycache__/
*.pyc
node_modules/
.vscode/
*.md
!README.md
data/*
**/data/*
!**/src/data/participants.js
!**/src/data/parts.js
!**/src/data/works.js
!**/src/data/site.js
participants_env_value.json
